@media (min-width: 1460px) {

  .container {
    position: static;
  }

  .content__section {
    padding-top: 0;
  }

}

@media (min-width: 1900px) {
  .decor img {
    max-height: 1410px;
    margin-top: 115px;
  }
}

@media (max-width: 1440px) {
  .decor img {
    max-height: 1010px;
  }
}

@media (max-width: 1024px) {
  .decor img {
    max-height: inherit;
    max-width: 75%;
  }
}

@media (max-width: 1200px) {
  .content__title {
    font-size: 52px;
  }

  .decor img {
    max-height: 100%;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 24px 0;
    justify-content: flex-end;
    position: relative;
  }

  .header__logo {
    display: none;
  }

  .content__section {
    padding-top: 0;
    max-width: 100%;
    display: block;
  }

  .content__title {
    font-size: 32px;

    span {
      font-size: 46px;
    }
  }

  .content {
    display: block;
    height: auto;
    padding-top: 24px;
  }
  .decor {
    display: none;
  }
}

@media (max-width: 480px) {
  .content__title {
    span {
      display: block;
    }
  }
}
