doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    include includes/header.pug

    main.content
      .container
        h1.main-title Media
        .language-block.dropdown
          a.dropdown-trigger(href="#") En
          .bropdown-content
            ul.list-unstyled
              li
                a(href='#') Ru
              li
                a(href='#') En


      .container

    include includes/right-comments.pug
