doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    .decor
      img(src="./images/bg.png")
    .container
      include includes/header.pug
      main.content
        section.content__section
          h1.content__title
            | Soon you’ll get
            span.u-accent-color  all about
            span.u-second-color  eSports
            |  in the single place
          p.content__subtitle
            | Right now we are summoning mounts, finding lethals, constructing
            | covers and even changing meta heroes to level up your skill.
