//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'

header.header
  .header__logo
    a(href="#")
      img(src="./images/Logo.svg")
  .header__socials
    ul.socials-list.list-unstyled.list-inline
      li.socials-list__item
        a(href="#").socials-list__icon
          img(src="./images/fb.svg")
      li.socials-list__item
        a(href="#").socials-list__icon
          img(src="./images/tw.svg")
      li.socials-list__item
        a(href="#").socials-list__icon
          img(src="./images/in.svg")
      li.socials-list__item
        a(href="#").socials-list__icon
          img(src="./images/vk.svg")
