.right-comments
  h3.right-comments__title Live comments

  .comments-list-wrapper
    ul.comments-list
      li.comment
        .user-icon
          img(src='images/user-1.png' alt="user-icon")
        p.user-name MadeInTerror885
        p.message-time just now
        p.user-message Seriously, if the user has been shadowbanned, then why even show notification...
        p.user-postmessage
          a(href="#").text-accent It really do be like that sometimes

      li.comment
        .user-icon
          img(src='images/user-2.png' alt="user-icon")
        p.user-name TheGreenJellyfishie
        p.message-time 3 min ago
        p.user-message Humans are okay sometimes.
        p.user-postmessage
          a(href="#").text-accent Supporters of rival teams come face to face in the streets of Naples, and it is a bloodbath
      li.comment
        .user-icon
          img(src='images/user-1.png' alt="user-icon")
        p.user-name MadeInTerror885
        p.message-time just now
        p.user-message Seriously, if the user has been shadowbanned, then why even show notification...
        p.user-postmessage
          a(href="#").text-accent It really do be like that sometimes

      li.comment
        .user-icon
          img(src='images/user-2.png' alt="user-icon")
        p.user-name TheGreenJellyfishie
        p.message-time 3 min ago
        p.user-message Humans are okay sometimes.
        p.user-postmessage
          a(href="#").text-accent Supporters of rival teams come face to face in the streets of Naples, and it is a bloodbath
      li.comment
        .user-icon
          img(src='images/user-1.png' alt="user-icon")
        p.user-name MadeInTerror885
        p.message-time just now
        p.user-message Seriously, if the user has been shadowbanned, then why even show notification...
        p.user-postmessage
          a(href="#").text-accent It really do be like that sometimes

      li.comment
        .user-icon
          img(src='images/user-2.png' alt="user-icon")
        p.user-name TheGreenJellyfishie
        p.message-time 3 min ago
        p.user-message Humans are okay sometimes.
        p.user-postmessage
          a(href="#").text-accent Supporters of rival teams come face to face in the streets of Naples, and it is a bloodbath
      li.comment
        .user-icon
          img(src='images/user-1.png' alt="user-icon")
        p.user-name MadeInTerror885
        p.message-time just now
        p.user-message Seriously, if the user has been shadowbanned, then why even show notification...
        p.user-postmessage
          a(href="#").text-accent It really do be like that sometimes

      li.comment
        .user-icon
          img(src='images/user-2.png' alt="user-icon")
        p.user-name TheGreenJellyfishie
        p.message-time 3 min ago
        p.user-message Humans are okay sometimes.
        p.user-postmessage
          a(href="#").text-accent Supporters of rival teams come face to face in the streets of Naples, and it is a bloodbath
